<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVsbWN5y9rtq0AWMl3E89VYKlNb4KOX5M</string>
	<key>GCM_SENDER_ID</key>
	<string>456640147314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.europa.sightup</string>
	<key>PROJECT_ID</key>
	<string>sightup-3b463</string>
	<key>STORAGE_BUCKET</key>
	<string>sightup-3b463.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456640147314:ios:53e7760adcf98db02637eb</string>
</dict>
</plist>